<div class="">
  <img src="{{user.image}}" alt="" /><br />
  {{user.username}} - {{user.gender}} - {{user.sexuality}} - {{user.age}} - {{user.height}}, {{user.build}}
  {{user.username}} is looking for {{user.looking}}! Let's let {{user.pronoun_sub}} tell you more about {{user.pronoun_self}}:
  <p>
    {{user.bio}}
  </p>
  <p>
    {{user.movie}} - {{user.book}} - {{user.music}} - {{user.tv}} - {{user.game}} - {{user.ethnicity}} - {{user.astrology}} - {{user.religion}} - {{user.income}}
  </p>
</div>
