<div class="container">
  <div class="row">
    <div class="center-form panel">
      <!-- <form method="post" ng-submit="login()" name="loginForm" novalidate> -->
        <div class="panel-body">
          <h2 class="text-center">Bonjour L'amour</h2>
        </div>
      <!-- </form> -->
      <div class="profiles">
        <div ng-repeat="user in users">
          <a href="#/profile/{{$index}}">
            <div class="">
              <img src="{{user.image}}" alt="" /><br />
              {{user.username}} - {{user.gender}} - {{user.sexuality}} - {{user.age}}
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
