@import url(https://fonts.googleapis.com/css?family=Mrs+Saint+Delafield);

body {
  padding-top: 5em;
  background-color: rgb(219,112,147);
}

.splash, .logo {
  margin: .25em;
  margin-top: 15vh;
  font-family: 'Mrs Saint Delafield', cursive;
  color: white;
  text-shadow:
      3px 3px 0 #000,
    -1px -1px 0 #000,
     1px -1px 0 #000,
     -1px 1px 0 #000,
      1px 1px 0 #000;
  text-align: center;
  font-size: 14em;
}

.logo {
  margin: -.5em auto .5em;
  margin-top: 10vh;
  font-size: 5em;
}

.sign {
  border-radius: 2px;
  background-color: white;
  padding: 1.5em;
}

a {
  color: black;
}

h1 a:hover {
  color: white;
  text-decoration: none;
}

.profile img {
  max-height: 200px;
  max-width: 200px;
}

.emails:nth-child(odd) {
  background-color: white;
}

.reply {
  margin-bottom: 2em;
}
